	#gameEditor {
	    height: 100%;
	    width: 100%;
	    display: none;
	}

	#rawTextEditor {
	    display: block;
	    overflow-y: auto;
	    width: 100%;
	    height: 100%;
	}

	.md-wysiwyg-editor-wrapper {
	    border-radius: 0px;
	    background-color: unset;
	    height: 100%;
	    border-color: transparent;
	    border: 0px;
	}

	.md-editor-content-area {
	    flex: 1;
	    height: calc(100% - 100px);
	}

	.md-toolbar {
	    height: 50px;
	    background-color: var(--theme_color_topmenu);
	    border-bottom: transparent;
	}

	.md-toolbar-button {
	    color: var(--theme_color_text);
	    background-color: var(--theme_color_topbtn);
	    border: 1px solid var(--theme_color_border)
	}

	.md-tabs {
	    height: 50px;
	    background-color: var(--theme_color_topbtn);
	    border-top: transparent;
	}

	.md-tab-button.active {
	    color: var(--theme_color_text);
	    background-color: var(--theme_color_topbtn_highlight);
	    border-bottom: transparent;
	}

	.md-tab-button {
	    color: var(--theme_color_text);
	    border-right: transparent;
	}

	.md-markdown-area {
	    background-color: unset;
	}

	.md-editable-area,
	.md-markdown-area {
	    font-size: var(--theme_font_size_content)
	}

	#gamescreen {
	    border-radius: 0px;
	}